.footer{
  @include span-columns(12);
  padding-left: 8.5298%;
  padding-right: 8.5298%;
  padding-top: 2%;
  position: relative;
  background-color: #f6f6f6;

  .heading{
    font-weight: bold;
  }
  .pitch{
    margin: 10px 0 15px 0;
  }
  .cities{
    width:30%;
    display: inline-block;
    .city{
      margin-bottom: 10px;
    }
  }
  #divider{
    border-bottom: 1px solid #e2e2e2;
    margin: 30px 0 20px 0;
  }
  .submit{
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 20%;
    background-color: #fff;
    padding: 1%;
  }
}
